<app-nav-bar></app-nav-bar>
<div class="container">
  <h2>Welcome to Authentication</h2>
  <div class="button-container">
    <button routerLink="/sendOtp-authentication" class="btn send-otp">
      <span class="icon"><i class="fas fa-envelope"></i></span>
      Send OTP to Email
    </button>
    <button routerLink="/google-authentication" class="btn google-auth">
      <span class="icon"><i class="fab fa-google"></i></span>
      Google Authentication
    </button>
    <button routerLink="/microsoft-authentication" class="btn microsoft-auth">
      <span class="icon"><i class="fab fa-microsoft"></i></span>
      Microsoft Authentication
    </button>
  </div>
</div>
